{% extends 'base.html' %}

{% block content %}

<h2 class="post-title">{{ post.title }}</h2>
<p class="post-body">{{ post.body }}</p>
<!-- TODO add author w/ link to author's blog -->
<p class="post-author">
    written by <a href="/blog/{{ post.author.username }}">{{ post.author.username }}</a>
</p>
<p class="post-date">{{ post.date }}
    written on {{ post.created.strftime('%Y-%m-%d') }}
</p>
<br>
<br>
<p>Wanna see what your friends are writing?<br>
Click on any author’s name <a href="/">here</a> to view a listing of all their previous
posts.</p>
<!-- <p>
Wanna see what your friends are writing?
Click on any author’s name – it will take you to a listing of all their previous
posts where you can click on any title and read at your leisure. </p> -->

{% endblock %}
